html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color:#333;
	margin: 0px;
}
a:link, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}
.clear {
	clear: both;
	display:inline;
}
#header, #main {
	margin: 0 auto;
	padding: 40px 5% 20px 5%;
	max-width:1200;
	background-color: #fff;
}
#header {
	border-bottom: 2px solid #e0e0e0;
	padding: 20px 6%;
}

#title {
	font-family: 'Arial Black', Helvetica;
	font-size: 2.5em;
	font-weight:bold;
	letter-spacing: -5px;
	color:#e62b1e;
	float: left;
}
#subtitle {
	font-size: 1.5em;
	font-weight: 100;
	color: #888;
	float: left;
	margin-top: 42px;
	margin-left: 15px;
}
@media screen and (max-width: 767px) {
    /* For mobile */
    #header {
    	padding: 0px;
    	margin-top: 20px;
    }
    #title {
    	text-align: center;
    	float: none;
    }
    #subtitle {
    	text-align: center;
    	margin:0px;
    	float: none;
    }

}

#grid .item {
	background-color: #000;
	margin: 20px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}
#grid .item-img {
	overflow: hidden;
}
#grid .item-img img {
	width:100%;
	opacity: 80%;
}
#grid .item-title {
	font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
	letter-spacing: -0.5px;
	font-weight: bolder;
	line-height: 1.2;
	background-color: #fff;
	padding-top: 10px;
}
@media screen and (min-width: 420px) {
	#grid .item {
		width:160px;
	}
	#grid .item-img {
		height: 90px;
	}
}
@media screen and (max-width: 419px) {
	#grid .item {
	}
	#grid .item-img {
		height: 140px;
	}
}

#intro {
	background-color: rgba(243,243,243,1);
	padding: 20px 15% 60px 15%;
	font-weight: 200;
	text-align: center;
	line-height: 1.5;
	font-size: 1.3em;
	border-top: 2px solid #e0e0e0;
}
#intro h2 {
	font-weight: 400;
	font-size: 1.1em;
	margin:10px;
}


/* TALK TEMPLATE */

#talk-header {
	margin: 0 auto;
	padding: 20px 5% 10px 5%;
	max-width:1200;
	background-color: #fff;
	border-bottom: 2px solid #e0e0e0;
	padding: 20px 6%;
}

#talk-title {
	font-family: 'Arial Black', Helvetica;
	font-size: 1.5em;
	font-weight:bold;
	letter-spacing: -5px;
	color:#e62b1e;
	float: left;
}
#talk-subtitle {
	font-size: .9em;
	font-weight: 100;
	color: #888;
	float: left;
	margin-top: 22px;
	margin-left: 15px;
}
@media screen and (max-width: 767px) {
    /* For mobile */
    #talk-header {
    	padding: 0px;
    	margin-top: 20px;
    	position: relative;
    }
    /*#talk-header a {
		position:absolute; 
		display: block;
		width:100%;
		height:100%;
		top:0;
		left: 0;
		z-index: 1000;
    }*/
    #talk-title {
    	text-align: center;
    	float: none;
    }
    #talk-subtitle {
    	text-align: center;
    	margin:0px;
    	float: none;
    }

}

#talk-body {
	color: #555;
	font-size: 0.9em;
	line-height: 1.5em;
	padding: 20px 7%;
	background-color: #F7F7F7;
	margin-bottom: 0px;
}
#talk-body h2 {
	font-size: 32px;
    font-weight: 900;
    letter-spacing: -.03em;
    line-height: 1.15;
}
#talk-body p {
	width: 65%;
	margin-left: 5%;
	float: right;
	margin-top: 0px;
	padding-top: 0px;
}
#talk-body .section {
	margin-bottom: 20px;
}
#talk-body .section:last-of-type {
	margin-bottom: 0px;
}

@media screen and (max-width: 736px) {
	#talk-body p {
		width:100%;
		margin: none;
		float: none;
	}
	#talk-body .slide {
		width: 100%;
		float: none;
	}
}

.slide {
	width:30%;
	max-height: 250px;
	margin-bottom: 20px;
	margin-top: 5px;
	overflow: hidden;
	float: left;
	position:relative;
}
.slide img {
	width:100%;
}
.slide .overlay {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:20%;
	padding:5% 0% 3% 0%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 200;
	color: #fff;
	text-align: center;
}

#talk-intro {
	background-color: #fff;
	padding: 20px 15% 60px 15%;
	font-weight: 200;
	text-align: center;
	line-height: 1.5;
	font-size: 1.3em;
	border-top: 2px solid #e0e0e0;
}
#talk-intro h2 {
	font-weight: 400;
	font-size: 1.1em;
	margin:10px;
}


