<html>
<head>
	<title>TIM: Ideas worth automating</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<h1 id="header"><div id="title">TIM</div> <div id="subtitle">Ideas worth automating</div><br class="clear" /></h1>

	<div id="main">
		<div id="grid">
			
			{% for talk in talklist %}
			<div class="item">
				<div class="item-img">
					<a href="{{ talk.url }}"><img src="{{ talk.image }}" /></a>
				</div>
				<div class="item-title">
					<a href="{{ talk.url }}">{{ talk.title }}</a>
				</div>
			</div>	

			{% else %}
				No talk object received
			{% endfor %}	

		</div>
	</div>
	
	<br class="clear" />
	
	<div id="intro">
		<h2>About TIM</h2>
		TIM is a platform for ideas worth automating. TIM generates talks on a broad spectrum of topics, based on the texts of slightly more coherent talks given under the auspices of his more famous big brother, who shall not be named here. You can keep up-to-date on newly generated talks on Twitter at <a href="https://twitter.com/bottalks">@bottalks</a>.
	</div>

</body>
</html>